[Unit]
Description=Restart LightDM if kiosk browser is not running

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'pgrep -f ${BROWSER_BIN} >/dev/null || systemctl restart lightdm'
